main {
    margin: 0 100px;
}
.imgBanner {
    display: grid;
    place-items: center;
    height: 220px;
    border-radius: 25px;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../imgHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgBanner > p {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .imgBanner {
        height: 110px;
        border-radius: 10px;
        background-position: 46% bottom;
        margin-bottom: 15px;
    }

    .imgBanner > p {
        padding: 15px 40px 15px 15px;
        font-size: 24px;
        font-weight: 500;
    }
    .imgBanner > p > span {
        display: block;
    }
}
